body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
  }
  #game-board {
    display: grid;
    gap: 10px;
  }
  .card {
    width: 100px;
    height: 100px;
    padding: 8px;
    border-radius: 24px;
    background-color: #ccc;
    display: inline-block;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    line-height: 100px;
    font-size: 2em;
    cursor: pointer;
  }
  .matched {
    background-color: #398439;
  }
  .error {
    background-color: #d9534f;
  }