body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
#game-board {
  display: grid;
  gap: 10px;
}
.card {
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 24px;
  /* color: transparent; */
  background-color: #ccc;
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
  font-size: 2em;
  cursor: pointer;
  animation: colorChange 5s forwards;
}

@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

.matched {
  background-color: #398439;
  color: black !important;
}
.error {
  background-color: #d9534f;
}
.selected {
  background-color: #f0ad4e;
  color: black !important;
}

#startButton {
  background-color: #4CAF50; /* Yeşil */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

#startButton:hover {
  background-color: #45a049;
}

#score-board {
  display: none;
  justify-content: space-between;
  width: 75%;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}
