/**
 * Styles for the puzzle game.
 */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

/**
 * Styles for the game board.
 */
#game-board {
  display: grid;
  gap: 10px;
}

/**
 * Styles for the game cards.
 */
.card {
  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 24px;
  background-color: #ccc;
  display: inline-block;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
  font-size: 2em;
  cursor: pointer;
  animation: colorChange 5s forwards, fadeIn 1s ease-in-out;
}

/**
 * Animation keyframes for changing card color.
 */
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

/**
 * Animation keyframes for fading in the card.
 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/**
 * Styles for matched cards.
 */
.matched {
  background-color: #398439;
  color: black !important;
}

/**
 * Styles for error state.
 */
.error {
  background-color: #d9534f;
}

/**
 * Styles for selected cards.
 */
.selected {
  background-color: #f0ad4e;
  color: black !important;
}

/**
 * Styles for the counter element.
 */
#counter {
  font-size: 2em;
  margin: 10px;
}

/**
 * Styles for the quit button.
 */
#quitButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 12px;
}

/**
 * Styles for the start button.
 */
#startButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

/**
 * Styles for the start button on hover.
 */
#startButton:hover {
  background-color: #45a049;
}

/**
 * Styles for the score board.
 */
#score-board {
  display: none;
  justify-content: space-between;
  width: 75%;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}
